{% extends "document.html" %}

{% block title %}Nearest Pipe Dimensions to ANSI/ASME B36.10/19{% endblock title %}

{% block meta_description %}
Enter either pipe size in NPS, an approximate inner dia or an approximate outer dia together with schedule to get the standard pipe dimensions as per ANSI/ASME B36.10/19.
{% endblock meta_description %}

{% block meta_keywords %}
pipe dimensions ANSI ASME B36.10 B36.19
{% endblock meta_keywords %}

{% block content %}
<div style="overflow:auto;">
<div class="datasheet">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/calculations/">Calculations</a></li>
      <li><a href="/calculations/mechanical/">Mechanical</a></li>
      <li class="is-active"><a href="#">Piping - Pipe Dimensions</a></li>
    </ul>
  </nav>
  <table class="main">
    <thead>
      <tr style='border-top:0px;'>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <td colspan="10" style="text-align:right;">
            <i>Template URL : </i>
            <a href="https://www.clappets.com/htm/document/tpl/root/mec/cal/nos/con/">https://www.clappets.com/htm/document/tpl/root/mec/cal/psy/hai/</a>
        </td>
    </tfoot>
    <tbody>
      <tr class="section_title">
        <td></td>
        <td colspan="8" class="has-text-centered">
            <h1 class="title is-5">[[ doc['meta']['docClass_title'] ]]</h1>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Project</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Project No:</span>
          <span class="w8"><input class="inp" v-model="doc['meta']['project_no']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6">
          <span class="w8">Project Title:</span>
          <span class="w36"><input class="inp" v-model="doc['meta']['project_title']"/></span>
        </td>
        <td colspan="2">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Document No:</span>
          <span class="w16"><input class="inp" v-model="doc['meta']['doc_no']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Revision No:</span>
          <span class="w4"><input class="inp" v-model="doc['meta']['rev']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Date :</span>
          <span class="w8"><input class="inp" v-model="doc['meta']['date']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Inputs</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Calculation Option</span>
          <span class="w16">
            <select class="inp" v-model="doc['input']['calculation_option']['_val']">
              <option value="NPS">Using NPS</option>
              <option value="Di">Using Inner Dia</option>
              <option value="Do">Using Outer Dia</option>
            </select>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['calculation_option'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-if="calculation_option=='NPS'">
        <td></td>
        <td colspan="4">
          <span class="w14">NPS</span>
          <span class="w6">
            <select class="inp" v-model="doc['input']['NPS']['_val']">
              <option v-for="item in fixed['nps_list']" :value="item" v-text="item"></option>
            </select>
          </span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['NPS'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-if="calculation_option=='Di'">
        <td></td>
        <td colspan="4">
          <span class="w14">Inner Dia (Di)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['Di']['_val']"/></span>
          <span class="w6">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Di'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-if="calculation_option=='Do'">
        <td></td>
        <td colspan="4">
          <span class="w14">Outer Dia (Do)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['Do']['_val']"/></span>
          <span class="w6">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Do'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Schedule</span>
          <span class="w6">
            <select class="inp" v-model="doc['input']['Schedule']['_val']">
              <option v-for="item in fixed['schedule_list']" :value="item" v-text="item"></option>
            </select>
          </span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Schedule'])">[[err]]</p>
        </td>
        <td></td>
      </tr>

    </tbody>
    <tbody >
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="hideprint" style='border-top:0px;'>
        <td style='border-left:0px;'></td>
        <td colspan="8" style="text-align:center" >
          <span class="w8">
            <button class="button is-primary" @click="calculate" style="width:100%">Calculate</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="openModal('unitsModalisActive')" style="width:100%">Units</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="saveDoc()" style="width:100%">Save</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="openModal('uploadModalisActive')" style="width:100%">Load</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="pdf_download()" style="width:100%">PDF</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="launch_help" style="width:100%">Help</button>
          </span>
        </td>
        <td style='border-right:0px;'></td>
      </tr>
      <tr style='border-top:0px;' class="hideprint">
        <td style='border-left:0px;'>&nbsp;</td>
        <td style='border-top:0px;'colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
    </tbody>
      <tbody v-if="doc['errors'].length > 0">
        <tr>
          <td></td>
          <td colspan="8">
            <p class="help is-danger"><b>Errors</b></p>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="8">
            <p class="help is-danger" v-for = "err in doc['errors']">[[ err ]]</p>
          </td>
          <td></td>
        </tr>
      </tbody>

      <tbody>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Results</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">NPS</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'NPS', '_val']) ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Inner Dia (Di)</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'Di', '_val']) ]]</span>
          <span class="w6">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Outer Dia (Do)</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'Do', '_val']) ]]</span>
          <span class="w6">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
{% endblock content %}

{% block script_vueapp %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        delimiters : ['[[',']]'],
        mixins: [app_common, app_doc],
        data: {
            doc : {{ doc | safe }},
            fixed:{
              nps_list:["0.125", "0.25", "0.375", "0.5", "0.75", "1", "1.25", "1.5", "2", "2.5", "3", "3.5", "4", "5", "6", "8", "10", "12", "14", "16", "18", "20", "22", "24", "26", "28", "30", "32", "34", "36"],
              schedule_list: ['5', '10', '20', '30', '40', '60', '80', '100', '120', '140', '160', 'STD', 'XS', 'XXS', '5S', '10S', '40S', '80S']

            }
        },
        computed: {
          calculation_option : function(){
            return this.doc['input']['calculation_option']['_val'];
          },


        },
        methods: {}
    });
</script>
{% endblock script_vueapp %}
