{% extends "document.html" %}

{% block title %}Control Valve Sizing - Liquid Service{% endblock title %}

{% block meta_description %}
Control valve sizing for liquid service as per IEC 60534
{% endblock meta_description %}

{% block meta_keywords %}
control valves sizing calculation liquid service IEC 60534
{% endblock meta_keywords %}

{% block content %}
<div style="overflow:auto;">
<div class="datasheet">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/calculations/">Calculations</a></li>
      <li><a href="/calculations/instrumentation/">Instrumentation</a></li>
      <li class="is-active"><a href="#">Control Valves-Liquid Service</a></li>
    </ul>
  </nav>
  <table class="main">
    <thead>
        <tr style='border-top:0px;'>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <td colspan="10" style="text-align:right;">
            <i>Calculation Performed at www.codecalculation.com</i>
        </td>
    </tfoot>
    <tbody>
      <tr class="section_title">
        <td></td>
        <td colspan="8" class="has-text-centered">
            <h1 class="title is-5">[[ doc['meta']['docClass_title'] ]]</h1>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Project</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Project No:</span>
          <span class="w8"><input class="inp" v-model="doc['meta']['project_no']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6">
          <span class="w8">Project Title:</span>
          <span class="w36"><input class="inp" v-model="doc['meta']['project_title']"/></span>
        </td>
        <td colspan="2">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Document No:</span>
          <span class="w16"><input class="inp" v-model="doc['meta']['doc_no']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Revision No:</span>
          <span class="w4"><input class="inp" v-model="doc['meta']['rev']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Date :</span>
          <span class="w8"><input class="inp" v-model="doc['meta']['date']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Inputs</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Density</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['rho']['_val']"/></span>
          <span class="w6">[[ gUL('density') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['rho'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Saturation Pressure</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Psat']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Psat'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Critical Pressure</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Pc']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Pc'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Dynamic Viscosity</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['mu']['_val']"/></span>
          <span class="w6">[[ gUL('dynViscosity') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mu'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Inlet Pressure (P1)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['P1']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['P1'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Inlet Pressure (P2)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['P2']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['P2'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Flow Rate(Q)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Q']['_val']"/></span>
          <span class="w6">[[ gUL('flow') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Q'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Inlet Pipe Diameter(D1)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['D1']['_val']"/></span>
          <span class="w6">[[ gUL('length_mili') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['D1'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Outlet Pipe Diameter(D2)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['D2']['_val']"/></span>
          <span class="w6">[[ gUL('length_mili') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['D2'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Valve Diameter(d)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['d']['_val']"/></span>
          <span class="w6">[[ gUL('length_mili') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['d'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Pressure Recovery Factor (FL)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['FL']['_val']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['FL'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Valve Style Modifier (Fd)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Fd']['_val']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Fd'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
    </tbody>

          <tbody >
            <tr>
              <td style='border-left:0px;'>&nbsp;</td>
              <td colspan="8">&nbsp;</td>
              <td style='border-right:0px;'>&nbsp;</td>
            </tr>
            <tr class="hideprint" style='border-top:0px;'>
              <td style='border-left:0px;'></td>
              <td colspan="8" style="text-align:center" >
                <span class="w8">
                  <button class="button is-primary" @click="calculate" style="width:100%">Calculate</button>
                </span>
                <span class="w8">
                  <button class="button is-primary" @click="openModal('unitsModalisActive')" style="width:100%">Units</button>
                </span>
                <span class="w8">
                  <button class="button is-primary" @click="saveDoc()" style="width:100%">Save</button>
                </span>
                <span class="w8">
                  <button class="button is-primary" @click="openModal('uploadModalisActive')" style="width:100%">Load</button>
                </span>
                <span class="w8">
                  <button class="button is-primary" @click="pdf_download()" style="width:100%">PDF</button>
                </span>
                <span class="w8">
                  <button class="button is-primary" @click="launch_help" style="width:100%">Help</button>
                </span>
              </td>
              <td style='border-right:0px;'></td>
            </tr>
            <tr style='border-top:0px;' class="hideprint">
              <td style='border-left:0px;'>&nbsp;</td>
              <td style='border-top:0px;'colspan="8">&nbsp;</td>
              <td style='border-right:0px;'>&nbsp;</td>
            </tr>
          </tbody>
      <tbody v-if="doc['errors'].length > 0">
        <tr>
          <td></td>
          <td colspan="8">
            <p class="help is-danger"><b>Errors</b></p>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="8">
            <p class="help is-danger" v-for="err in doc['errors']">[[ err ]]</p>
          </td>
          <td></td>
        </tr>
      </tbody>
      <tbody>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Results</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Valve Coefficient (C) Metric</span>
          <span class="w6 result">[[ retSilent(doc, ['result','Cmetric','_val']) ]] </span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}


{% block script_vueapp %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        delimiters : ['[[',']]'],
        mixins: [app_common, app_doc],
        data: {
            doc : {{ doc | safe }},
            fixed:{
              state_options:["Saturated_T", "Saturated_P", "Superheated_or_Compressed"]
            }
        },
        computed: {
          state : function(){
            return this.doc['input']['state']['_val'];
          }
        },
        methods: {}
    });
</script>
{% endblock script_vueapp %}
