{% extends "document.html" %}
{% block title %}Humid Air Properties{% endblock title %}

{% block meta_description %}
Input Air Dry Bulb temperature, temperature and either of wet bulb, dew point, humidity ratio or enthalphy to obtain thermophysical properties of humid air.
{% endblock meta_description %}

{% block meta_keywords %}
humid air properties
{% endblock meta_keywords %}

{% block content %}
<div style="overflow:auto;">
<div class="datasheet">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/calculations/">Calculations</a></li>
      <li><a href="/calculations/mechanical/">Mechanical</a></li>
      <li class="is-active"><a href="#">Humid Air Properties</a></li>
    </ul>
  </nav>
  <table class="main">
    <thead>
      <tr style='border-top:0px;'>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <td colspan="10" style="text-align:right;">
            <i>Template URL : </i>
            <a href="https://www.clappets.com/htm/document/tpl/root/mec/cal/psy/hai/">https://www.clappets.com/htm/document/tpl/root/mec/cal/psy/hai/</a>
        </td>
    </tfoot>
    <tbody>
      <tr class="section_title">
        <td></td>
        <td colspan="8" style="text-align:center;">
          <span class="title is-6">[[ doc['meta']['docClass_title'] ]]</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Project</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Project No:</span>
          <span class="w8"><input class="inp" v-model="doc['meta']['project_no']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6">
          <span class="w8">Project Title:</span>
          <span class="w36"><input class="inp" v-model="doc['meta']['project_title']"/></span>
        </td>
        <td colspan="2">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Document No:</span>
          <span class="w16"><input class="inp" v-model="doc['meta']['doc_no']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Revision No:</span>
          <span class="w4"><input class="inp" v-model="doc['meta']['rev']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Date :</span>
          <span class="w8"><input class="inp" v-model="doc['meta']['date']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <span class="w16"><b>Inputs</b></span>
        </td>
        <td></td>
      </tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Calculation Option</span>
        <span class="w16">
          <select class="inp" placeholder="fluid" v-model="doc['input']['calculation_option']['_val']">
            <option v-for="item in fixed['calculation_options']" :value="item" v-text="item"></option>
          </select>
      </td>
      <td colspan="4">
        <p class="help is-danger" v-for="err in getErrs(['calculation_option'])">[[err]]</p>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Temperature Dry Bulb</span>
        <span class="w6"><input class="inp" type="text" v-model="doc['input']['Tdb']['_val']"/></span>
        <span class="w6">[[ gUL('temperature') ]]</span>
      </td>
      <td colspan="4">
        <p class="help is-danger" v-for="err in getErrs(['Tdb'])">[[err]]</p>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Pressure</span>
        <span class="w6"><input class="inp" type="text" v-model="doc['input']['P']['_val']"/></span>
        <span class="w6">[[ gUL('pressure') ]]</span>
      </td>
      <td colspan="4">
        <p class="help is-danger" v-for="err in getErrs(['P'])">[[err]]</p>
      </td>
      <td></td>
    </tr>
    <tr v-show="calculation_option=='Tdb_RH_P'">
      <td></td>
      <td colspan="4">
        <span class="w14">RH</span>
        <span class="w6"><input class="inp" type="text" v-model="doc['input']['RH']['_val']"/></span>
      </td>
      <td colspan="4">
        <p class="help is-danger" v-for="err in getErrs(['RH'])">[[err]]</p>
      </td>
      <td></td>
    </tr>
    <tr v-show="calculation_option=='Tdb_Twb_P'">
      <td></td>
      <td colspan="4">
        <span class="w14">Temperature Wet Bulb</span>
        <span class="w6"><input class="inp" type="text" v-model="doc['input']['Twb']['_val']"/></span>
        <span class="w6">[[ gUL('temperature') ]]</span>
      </td>
      <td colspan="4">
        <p class="help is-danger" v-for="err in getErrs(['Twb'])">[[err]]</p>
      </td>
      <td></td>
    </tr>
    <tr v-show="calculation_option=='Tdb_Tdp_P'">
      <td></td>
      <td colspan="4">
        <span class="w14">Temperature Dew Point</span>
        <span class="w6"><input class="inp" type="text" v-model="doc['input']['Tdp']['_val']"/></span>
        <span class="w6">[[ gUL('temperature') ]]</span>
      </td>
      <td colspan="4">
        <p class="help is-danger" v-for="err in getErrs(['Tdp'])">[[err]]</p>
      </td>
      <td></td>
    </tr>
    <tr v-show="calculation_option=='Tdb_W_P'">
      <td></td>
      <td colspan="4">
        <span class="w14">Humidity Ratio</span>
        <span class="w6"><input class="inp" type="text" v-model="doc['input']['W']['_val']"/></span>
      </td>
      <td colspan="4">
        <p class="help is-danger" v-for="err in getErrs(['W'])">[[err]]</p>
      </td>
      <td></td>
    </tr>
    <tr v-show="calculation_option=='Tdb_h_P'">
      <td></td>
      <td colspan="4">
        <span class="w14">Specific Enthalphy</span>
        <span class="w6"><input class="inp" type="text" v-model="doc['input']['h']['_val']"/></span>
        <span class="w6">[[ gUL('specificEnergy') ]]</span>
      </td>
      <td colspan="4">
        <p class="help is-danger" v-for="err in getErrs(['h'])">[[err]]</p>
      </td>
      <td></td>
    </tr>
    </tbody>

    <tbody >
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="hideprint" style='border-top:0px;'>
        <td style='border-left:0px;'></td>
        <td colspan="8" style="text-align:center" >
          <span class="w8">
            <button class="button is-primary" @click="calculate" style="width:100%">Calculate</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="openModal('unitsModalisActive')" style="width:100%">Units</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="saveDoc()" style="width:100%">Save</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="openModal('uploadModalisActive')" style="width:100%">Load</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="pdf_download()" style="width:100%">PDF</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="launch_help" style="width:100%">Help</button>
          </span>
        </td>
        <td style='border-right:0px;'></td>
      </tr>
      <tr style='border-top:0px;' class="hideprint">
        <td style='border-left:0px;'>&nbsp;</td>
        <td style='border-top:0px;'colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
    </tbody>

    <tbody v-if="doc['errors'].length > 0">
      <tr>
        <td></td>
        <td colspan="8">
          <p class="help is-danger"><b>Errors</b></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="8">
          <p class="help is-danger" v-for="err in doc['errors']">[[ err ]]</p>
        </td>
        <td></td>
      </tr>
    </tbody>

   <tbody>
    <tr class="section_title">
      <td></td>
      <td colspan="8">
        <span class="w16"><b>Results</b></span>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">RH</span>
        <span class="w6 result">[[ retSilent(doc,['result','RH','_val']) ]]</span>
      </td>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Temperature Wet Bulb</span>
        <span class="w6 result">[[ retSilent(doc,['result','Twb','_val']) ]]</span>
        <span class="w6">[[ gUL('temperature') ]]</span>
      </td>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Temperature Dew Point</span>
        <span class="w6 result">[[ retSilent(doc,['result','Tdp','_val']) ]]</span>
        <span class="w6">[[ gUL('temperature') ]]</span>
      </td>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Humidity Ratio</span>
        <span class="w6 result">[[ retSilent(doc,['result','W','_val']) ]]</span>
      </td>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Density</span>
        <span class="w6 result">[[ retSilent(doc, ['result','rho', '_val']) ]]</span>
        <span class="w6">[[ gUL('density') ]]</span>
      </td>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Specific Volume</span>
        <span class="w6 result">[[ retSilent(doc, ['result','v', '_val']) ]]</span>
        <span class="w6">[[ gUL('specificVolume') ]]</span>
      </td>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Specific Enthalphy</span>
        <span class="w6 result">[[ retSilent(doc, ['result','h', '_val']) ]]</span>
        <span class="w6">[[ gUL('specificEnergy') ]]</span>
      </td>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Specific Internal Energy</span>
        <span class="w6 result">[[ retSilent(doc, ['result','u', '_val']) ]]</span>
        <span class="w6">[[ gUL('specificEnergy') ]]</span>
      </td>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Specific Entropy</span>
        <span class="w6 result">[[ retSilent(doc, ['result','s', '_val']) ]]</span>
        <span class="w6">[[ gUL('specificHeat') ]]</span>
      </td>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Specific Heat (Dry air)</span>
        <span class="w6 result">[[ retSilent(doc, ['result','Cp', '_val']) ]]</span>
        <span class="w6">[[ gUL('specificHeat') ]]</span>
      </td>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="4">
        <span class="w14">Specific Heat (Humid air)</span>
        <span class="w6 result">[[ retSilent(doc, ['result','Cp_ha', '_val']) ]]</span>
        <span class="w6">[[ gUL('specificHeat') ]]</span>
      </td>
      <td colspan="4"></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
{% endblock content %}


{% block script_vueapp %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        delimiters : ['[[',']]'],
        mixins: [app_common, app_doc],
        data: {
            doc : {{ doc | safe }},
            fixed:{
              calculation_options:["Tdb_RH_P","Tdb_Twb_P","Tdb_Tdp_P","Tdb_W_P","Tdb_h_P"]
            }
        },
        computed: {
          calculation_option : function(){
            return this.doc['input']['calculation_option']['_val'];
          }
        },
        methods: {}
    });
</script>
{% endblock script_vueapp %}
