{% extends "document.html" %}

{% block title %}Pump Design Estimation{% endblock title %}

{% block meta_description %}
Determine pump estimated design parameters in terms of predicted efficiency, power, motor rating, NPSHR, impeller diameter, nozzle size, weights and dimensions etc.
{% endblock meta_description %}

{% block meta_keywords %}
pump design estimate prediction efficiency npshr size weights
{% endblock meta_keywords %}

{% block content %}
<div style="overflow:auto;">
<div class="datasheet">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/calculations/">Calculations</a></li>
      <li><a href="/calculations/mechanical/">Mechanical</a></li>
      <li class="is-active"><a href="#">Pump Design Estimate</a></li>
    </ul>
  </nav>
  <table class="main">
    <thead>
        <tr style='border-top:0px;'>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <td colspan="10" style="text-align:right;">
            <i>Calculation Performed at www.codecalculation.com</i>
        </td>
    </tfoot>
    <tbody>
      <tr class="section_title">
        <td></td>
        <td colspan="8" class="has-text-centered">
            <h1 class="title is-5">[[ doc['meta']['docClass_title'] ]]</h1>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Project</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Project No:</span>
          <span class="w8"><input class="inp" v-model="doc['meta']['project_no']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6">
          <span class="w8">Project Title:</span>
          <span class="w36"><input class="inp" v-model="doc['meta']['project_title']"/></span>
        </td>
        <td colspan="2">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Document No:</span>
          <span class="w16"><input class="inp" v-model="doc['meta']['doc_no']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Revision No:</span>
          <span class="w4"><input class="inp" v-model="doc['meta']['rev']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Date :</span>
          <span class="w12"><input class="inp" v-model="doc['meta']['date']" type="date"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Inputs</h2>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Flow Rate</span>
          <span class="w6"><input type="number" v-model="doc['input']['Q']['_val']"/></span>
          <span class="w6">[[ gUL('flow') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Q'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Head </span>
          <span class="w6"><input type="number" v-model="doc['input']['H']['_val']"/></span>
          <span class="w6">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['H'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Density </span>
          <span class="w6"><input type="number" v-model="doc['input']['rho']['_val']"/></span>
          <span class="w6">[[ gUL('density') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['rho'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Dynamic Viscosity</span>
          <span class="w6"><input type="number" v-model="doc['input']['mu']['_val']"/></span>
          <span class="w6">[[ gUL('dynViscosity') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mu'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">No. of motor poles</span>
          <span class="w6">
            <select v-model="doc['input']['poles']['_val']">
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="6">6</option>
            </select>
          </span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['poles'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Pump Design</span>
          <span class="w16">
            <select v-model="doc['input']['design_type']['_val']">
              <option value="OH">Overhung</option>
              <option value="DS1">Single Stage Double Suction</option>
              <option value="SS2">Two Stage Single Suction</option>
              <option value="DS2">Two Stage Double Suction</option>
            </select>
          </span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['design_type'])">[[err]]</p>
        </td>
        <td></td>
      </tr>

    </tbody>

    <tbody >
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="hideprint" style='border-top:0px;'>
        <td style='border-left:0px;'></td>
        <td colspan="8" style="text-align:center" >
          <span class="w8">
            <button class="button is-primary" @click="calculate" style="width:100%">Calculate</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="openModal('unitsModalisActive')" style="width:100%">Units</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="saveDoc()" style="width:100%">Save</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="openModal('uploadModalisActive')" style="width:100%">Load</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="pdf_download()" style="width:100%">PDF</button>
          </span>
          <span class="w8">
            <button class="button is-primary" @click="launch_help" style="width:100%">Help</button>
          </span>
        </td>
        <td style='border-right:0px;'></td>
      </tr>
      <tr style='border-top:0px;' class="hideprint">
        <td style='border-left:0px;'>&nbsp;</td>
        <td style='border-top:0px;'colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
    </tbody>
    <tbody v-if="doc['errors'].length > 0">
      <tr>
        <td></td>
        <td colspan="8">
          <p class="help is-danger"><b>Errors</b></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="8">
          <p class="help is-danger" v-for="err in doc['errors']">[[ err ]]</p>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Results</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Specific Speed</span>
          <span class="w4 result">[[ retSilent(doc, ['result','Nq','_val']) ]]</span>
          <span class="w4"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Estimated Impeller Dia</span>
          <span class="w4 result">[[ retSilent(doc, ['result','d2','_val']) ]]</span>
          <span class="w4">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Estimated Efficiency</span>
          <span class="w4 result">[[ retSilent(doc, ['result','eta','_val']) ]]</span>
          <span class="w4"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Hydraulic Power</span>
          <span class="w4 result">[[ retSilent(doc, ['result','Phydraulic','_val']) ]]</span>
          <span class="w4">[[ gUL('power') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Motor Rated Power</span>
          <span class="w4 result">[[ retSilent(doc, ['result','Pmotor','_val']) ]]</span>
          <span class="w4">[[ gUL('power') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Shaft Absorbed Power</span>
          <span class="w4 result">[[ retSilent(doc, ['result','P','_val']) ]]</span>
          <span class="w4">[[ gUL('power') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Estimated NPSHR</span>
          <span class="w4 result">[[ retSilent(doc, ['result','NPSHR','_val']) ]]</span>
          <span class="w4">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Tentative Market Availability </span>
          <span class="w12 result">[[ retSilent(doc, ['result','tentative_availability','_val']) ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">NPS (Suction)</span>
          <span class="w12 result">[[ retSilent(doc, ['result','NPS_suction','_val']) ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">NPS (Discharge)</span>
          <span class="w12 result">[[ retSilent(doc, ['result','NPS_discharge','_val']) ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Estimated Skid Length </span>
          <span class="w4 result">[[ retSilent(doc, ['result','L','_val']) ]]</span>
          <span class="w4">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Estimated Skid Width</span>
          <span class="w4 result">[[ retSilent(doc, ['result','W','_val']) ]]</span>
          <span class="w4">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Estimated Skid Height</span>
          <span class="w4 result">[[ retSilent(doc, ['result','H','_val']) ]]</span>
          <span class="w4">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Estimated Weight - Pump</span>
          <span class="w4 result">[[ retSilent(doc, ['result','Wpump','_val']) ]]</span>
          <span class="w4">[[ gUL('mass') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Estimated Weight - Baseplate</span>
          <span class="w4 result">[[ retSilent(doc, ['result','Wbase','_val']) ]]</span>
          <span class="w4">[[ gUL('mass') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Estimated Weight - Motor</span>
          <span class="w4 result">[[ retSilent(doc, ['result','Wmotor','_val']) ]]</span>
          <span class="w4">[[ gUL('mass') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Estimated Weight - Total</span>
          <span class="w4 result">[[ retSilent(doc, ['result','Wtotal','_val']) ]]</span>
          <span class="w4">[[ gUL('mass') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
{% endblock content %}

{% block contributors %}
{% endblock contributors %}


{% block script_vueapp %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        delimiters : ['[[',']]'],
        mixins: [app_common, app_doc],
        data: {
            doc : {{ doc | safe }},
            fixed:{}
        },
        computed: {
          solve_using : function(){
            return this.doc['input']['solve_using']['_val'];
          }
        },
        methods: {}
    });
</script>
{% endblock script_vueapp %}
