{% extends "document.html" %}
{% block title %}Centrifugal Compressor - Estimations {% endblock title %}

{% block meta_description %}
Get sizing estimation for centrifugal compressors.
Enter gas composition and operating conditions as per API 617 compressor datasheet template.

{% endblock meta_description %}

{% block meta_keywords %}
API 617 Centrifugal Compressor Sizing Estimation
{% endblock meta_keywords %}

{% block content %}
<div style="overflow:auto;">
<div class="datasheet">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/calculations/">Calculations</a></li>
      <li><a href="/calculations/mechanical/">Mechanical</a></li>
      <li class="is-active"><a href="#">Centrifugal Compressor Estimations</a></li>
    </ul>
  </nav>
  <table class="main">
    <thead>
        <tr style='border-top:0px;'>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <td colspan="10" style="text-align:right;">
            <i>Calculation Performed at www.codecalculation.com</i>
        </td>
    </tfoot>
    <tbody>
      <tr class="section_title">
        <td></td>
        <td colspan="8" class="has-text-centered">
            <h1 class="title is-5">[[ doc['meta']['docClass_title'] ]]</h1>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Project</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Project No:</span>
          <span class="w8"><input class="inp" v-model="doc['meta']['project_no']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="6">
          <span class="w8">Project Title:</span>
          <span class="w36"><input class="inp" v-model="doc['meta']['project_title']"/></span>
        </td>
        <td colspan="2">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Document No:</span>
          <span class="w16"><input class="inp" v-model="doc['meta']['doc_no']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Revision No:</span>
          <span class="w4"><input class="inp" v-model="doc['meta']['rev']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w8">Date :</span>
          <span class="w8"><input class="inp" v-model="doc['meta']['date']"/></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td style='border-left:0px;'>&nbsp;</td>
        <td colspan="8">&nbsp;</td>
        <td style='border-right:0px;'>&nbsp;</td>
      </tr>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Inputs</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Suction Pressure (P1)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['P1']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['P1'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Suction Temperature (T1)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['T1']['_val']"/></span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['T1'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Discharge Pressure (P2)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['P2']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['P2'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Mass Flow (m)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['m']['_val']"/></span>
          <span class="w6">[[ gUL('massflow') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['m'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">k and Z values are</span>
          <span class="w16">
            <select class="inp" v-model="doc['input']['kZ_basis']['_val']">
              <option value="A">as specified</option>
              <option value="B">based on gas composition</option>
            </select>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['kZ_basis'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="(kZ_basis=='A')||(kZ_basis=='B')">
        <td></td>
        <td colspan="4">
          <span class="w14">Molecular Weight</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['MW']['_val']"/></span>
          <span class="w6">[[ gUL('molecularMass') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['MW'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="(kZ_basis=='A')">
        <td></td>
        <td colspan="4">
          <span class="w14">k1</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['k1']['_val']"/></span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['k1'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="(kZ_basis=='A')">
        <td></td>
        <td colspan="4">
          <span class="w14">k2</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['k2']['_val']"/></span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['k2'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="(kZ_basis=='A')">
        <td></td>
        <td colspan="4">
          <span class="w14">Z1</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['Z1']['_val']"/></span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Z1'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="(kZ_basis=='A')">
        <td></td>
        <td colspan="4">
          <span class="w14">Z2</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['Z2']['_val']"/></span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Z2'])">[[err]]</p>
        </td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Use Polytropic Efficiency</span>
          <span class="w16">
            <select class="inp" v-model="doc['input']['predict_etaP']['_val']">
              <option value="No">as specified</option>
              <option value="Yes">as predicted</option>
            </select>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['predict_etaP'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="(predict_etaP=='No')">
        <td></td>
        <td colspan="4">
          <span class="w14">Polytropic Efficiency</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['etaP']['_val']"/></span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['etaP'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Discharge Temperature Limit</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Tlimit']['_val']"/></span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Tlimit'])">[[err]]</p>
        </td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Interstage Cooling</span>
          <span class="w16">
            <select class="inp" v-model="doc['input']['interstage_cooling']['_val']">
              <option value="Conditional">If required</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['interstage_cooling'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="(interstage_cooling!='No')">
        <td></td>
        <td colspan="4">
          <span class="w14">Coolant Temperature</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Tcoolant']['_val']"/></span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Tcoolant'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="(interstage_cooling!='No')">
        <td></td>
        <td colspan="4">
          <span class="w14">Approach Temperature</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Tapproach']['_val']"/></span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Tapproach'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="(interstage_cooling!='No')">
        <td></td>
        <td colspan="4">
          <span class="w14">Cooler Pressure Drop</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['deltaP_cooler']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['deltaP_cooler'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="(interstage_cooling!='No')">
        <td></td>
        <td colspan="4">
          <span class="w14">Cooler Inlet Pressure Basis</span>
          <span class="w16">
            <select class="inp" v-model="doc['input']['Pinlet_cooler_basis']['_val']">
              <option value="as_specified">as specified</option>
              <option value="geometric_mean">geometric mean</option>
            </select>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Pinlet_cooler_basis'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="(interstage_cooling!='No' && Pinlet_cooler_basis =='as_specified')">
        <td></td>
        <td colspan="4">
          <span class="w14">Cooler Inlet Pressure</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Pinlet_cooler']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['Pinlet_cooler'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      </tbody>
      <tbody v-show="kZ_basis=='B'">
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Mixture</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema_mixture'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Component</span>
          <span class="w6">Formula</span>
          <span class="w6">Mol.Wt.</span>
          <span class="w6">Mol.Fraction</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Air</span>
          <span class="w6">--</span>
          <span class="w6">28.966</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][0]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',0,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Oxygen</span>
          <span class="w6">O2</span>
          <span class="w6">32.000</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][1]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',1,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Nitrogen</span>
          <span class="w6">N2</span>
          <span class="w6">28.016</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][2]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',2,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Water Vapor</span>
          <span class="w6">H2O</span>
          <span class="w6">18.016</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][3]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',3,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Carbon Monoxide</span>
          <span class="w6">CO</span>
          <span class="w6">28.010</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][4]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',4,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Carbon Dioxide</span>
          <span class="w6">CO2</span>
          <span class="w6">44.010</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][5]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',5,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Hydrogen Sulfide</span>
          <span class="w6">H2S</span>
          <span class="w6">34.076</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][6]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',6,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Hydrogen</span>
          <span class="w6">H2</span>
          <span class="w6">2.016</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][7]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',7,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Methane</span>
          <span class="w6">CH4</span>
          <span class="w6">16.042</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][8]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',8,'molefraction'])">[[err]]</p>

        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Ethene</span>
          <span class="w6">C2H4</span>
          <span class="w6">28.052</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][9]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',9,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Ethane</span>
          <span class="w6">C2H6</span>
          <span class="w6">30.068</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][10]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',10,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Propene</span>
          <span class="w6">C3H6</span>
          <span class="w6">42.078</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][11]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',11,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">n-Propane</span>
          <span class="w6">C3H8</span>
          <span class="w6">44.094</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][12]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',12,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">i-Butane</span>
          <span class="w6">C4H10</span>
          <span class="w6">58.120</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][13]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',13,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">n-Butane</span>
          <span class="w6">C4H10</span>
          <span class="w6">58.120</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][14]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',14,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">i-Pentane</span>
          <span class="w6">C5H12</span>
          <span class="w6">72.146</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][15]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',15,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">n-Pentane</span>
          <span class="w6">C5H12</span>
          <span class="w6">72.146</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][16]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',16,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w10">Hexane+</span>
          <span class="w6">C6H14</span>
          <span class="w6">86.000</span>
          <span class="w6"><input class="inp" v-model="doc['input']['mixture'][17]['molefraction']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['mixture',17,'molefraction'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
    </tbody>

        <tbody >
          <tr>
            <td style='border-left:0px;'>&nbsp;</td>
            <td colspan="8">&nbsp;</td>
            <td style='border-right:0px;'>&nbsp;</td>
          </tr>
          <tr class="hideprint" style='border-top:0px;'>
            <td style='border-left:0px;'></td>
            <td colspan="8" style="text-align:center" >
              <span class="w8">
                <button class="button is-primary" @click="calculate" style="width:100%">Calculate</button>
              </span>
              <span class="w8">
                <button class="button is-primary" @click="openModal('unitsModalisActive')" style="width:100%">Units</button>
              </span>
              <span class="w8">
                <button class="button is-primary" @click="saveDoc()" style="width:100%">Save</button>
              </span>
              <span class="w8">
                <button class="button is-primary" @click="openModal('uploadModalisActive')" style="width:100%">Load</button>
              </span>
              <span class="w8">
                <button class="button is-primary" @click="pdf_download()" style="width:100%">PDF</button>
              </span>
              <span class="w8">
                <button class="button is-primary" @click="launch_help" style="width:100%">Help</button>
              </span>
            </td>
            <td style='border-right:0px;'></td>
          </tr>
          <tr style='border-top:0px;' class="hideprint">
            <td style='border-left:0px;'>&nbsp;</td>
            <td style='border-top:0px;'colspan="8">&nbsp;</td>
            <td style='border-right:0px;'>&nbsp;</td>
          </tr>
        </tbody>
      <tbody v-if="doc['errors'].length > 0">
        <tr>
          <td></td>
          <td colspan="8">
            <p class="help is-danger"><b>Errors</b></p>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="8">
            <p class="help is-danger" v-for="err in doc['errors']">[[ err ]]</p>
          </td>
          <td></td>
        </tr>
      </tbody>
      <tbody>
      <tr class="section_title">
        <td></td>
        <td colspan="8">
          <h2 class="title is-6">Results</h2>
        </td>
        <td></td>
      </tr>
      <tbody v-show="stages==1">
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Suction Pressure (P1)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'P1', '_val']) ]]</span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Suction Temperature (T1)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'T1', '_val']) ]]</span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Discharge Pressure (P2)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'P2', '_val']) ]]</span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Discharge Temperature (T2)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'T2', '_val']) ]]</span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Mass Flow Rate (m)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'm', '_val']) ]]</span>
          <span class="w6">[[ gUL('massflow') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Molecular Weight (MW)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'MW', '_val']) ]]</span>
          <span class="w6">[[ gUL('molecularMass') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Actual Flowrate (Q)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'Qact', '_val']) ]]</span>
          <span class="w6">[[ gUL('flow') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">K (avg)</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'kavg', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Z (avg)</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'Zavg', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Polytropic Efficiency</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'etaP', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Polytropic Head</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'Hp', '_val']) ]]</span>
          <span class="w6">J/kg</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Absorbed Power</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'Pabs', '_val']) ]]</span>
          <span class="w6">[[ gUL('power') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Frame Impeller Dia</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'd2', '_val']) ]]</span>
          <span class="w6">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">Compressor Speed</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'N', '_val']) ]]</span>
          <span class="w6">rpm</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14">No. of impeller stages</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'Nimpeller', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody v-show="stages==2">
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14"><b>Stage-1</b></span>
          <span class="w6 result"></span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Suction Pressure (P1)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'P1_1', '_val']) ]]</span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Suction Temperature (T1)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'T1_1', '_val']) ]]</span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Discharge Pressure (P2)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'P2_1', '_val']) ]]</span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Discharge Temperature (T2)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'T2_1', '_val']) ]]</span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Mass Flow Rate (m)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'm_1', '_val']) ]]</span>
          <span class="w6">[[ gUL('massflow') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Molecular Weight (MW)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'MW_1', '_val']) ]]</span>
          <span class="w6">[[ gUL('molecularMass') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Actual Flowrate (Q)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'Qact_1', '_val']) ]]</span>
          <span class="w6">[[ gUL('flow') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">K (avg)</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'kavg_1', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Z (avg)</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'Zavg_1', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Polytropic Efficiency</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'etaP_1', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Polytropic Head</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'Hp_1', '_val']) ]]</span>
          <span class="w6">J/kg</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Absorbed Power</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'Pabs_1', '_val']) ]]</span>
          <span class="w6">[[ gUL('power') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Frame Impeller Dia</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'd2', '_val']) ]]</span>
          <span class="w6">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Compressor Speed</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'N', '_val']) ]]</span>
          <span class="w6">rpm</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">No. of impeller stages</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'Nimpeller_1', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody v-show="stages==2">
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w14"><b>Stage-2</b></span>
          <span class="w6 result"></span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Suction Pressure (P1)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'P1_2', '_val']) ]]</span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Suction Temperature (T1)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'T1_2', '_val']) ]]</span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Discharge Pressure (P2)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'P2_2', '_val']) ]]</span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Discharge Temperature (T2)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'T2_2', '_val']) ]]</span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Mass Flow Rate (m)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'm_2', '_val']) ]]</span>
          <span class="w6">[[ gUL('massflow') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Molecular Weight (MW)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'MW_2', '_val']) ]]</span>
          <span class="w6">[[ gUL('molecularMass') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Actual Flowrate (Q)</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'Qact_2', '_val']) ]]</span>
          <span class="w6">[[ gUL('flow') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">K (avg)</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'kavg_2', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Z (avg)</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'Zavg_2', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Polytropic Efficiency</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'etaP_2', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Polytropic Head</span>
          <span class="w6 result">[[ retSilent(doc, ['result', 'Hp_2', '_val']) ]]</span>
          <span class="w6">J/kg</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Absorbed Power</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'Pabs_2', '_val']) ]]</span>
          <span class="w6">[[ gUL('power') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Frame Impeller Dia</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'd2', '_val']) ]]</span>
          <span class="w6">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Compressor Speed</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'N', '_val']) ]]</span>
          <span class="w6">rpm</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">No. of impeller stages</span>
          <span class="w6 result"> [[ retSilent(doc, ['result', 'Nimpeller_2', '_val']) ]]</span>
          <span class="w6"></span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
    </tbody>
    </tbody>
  </table>
</div>
</div>
{% endblock content %}


{% block script_vueapp %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        delimiters : ['[[',']]'],
        mixins: [app_common, app_doc],
        data: {
            doc : {{ doc | safe }},
            fixed:{
              state_options:["Saturated_T", "Saturated_P", "Superheated_or_Compressed"]
            }
        },
        computed: {
          kZ_basis : function(){
            return this.doc['input']['kZ_basis']['_val'];
          },
          predict_etaP : function(){
            return this.doc['input']['predict_etaP']['_val'];
          },
          interstage_cooling : function(){
            return this.doc['input']['interstage_cooling']['_val'];
          },
          Pinlet_cooler_basis : function(){
            return this.doc['input']['Pinlet_cooler_basis']['_val'];
          },
          stages : function(){
            stg = this.retSilent(this.doc, ['result', 'Nimpeller_2', '_val'])
            if ((stg ==1)||(stg ==2)){
              return stg;
            }
            else if(this.interstage_cooling=='Yes') {
              return 2;
            }
            else {
              return 1;
            }

          }

        },
        methods: {}
    });
</script>
{% endblock script_vueapp %}
